@model Northwind.Application.Models.Customer.CustomerEditModel
@{
    ViewData["ControllerName"] = "Customer";
}

<h1>Edit</h1>
<h4>Customer</h4>
<hr />

@await Html.PartialAsync("_EditFormPartial", Model)