@model Northwind.Application.Models.Employee.EmployeeCreateModel
@{
    ViewData["ControllerName"] = "Employee";
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />

@await Html.PartialAsync("_CreateFormPartial", Model)