@model Northwind.Application.Models.Employee.EmployeeEditModel
@{
    ViewData["ControllerName"] = "Employee";
}

<h1>Edit</h1>
<h4>Employee</h4>
<hr />

@await Html.PartialAsync("_EditFormPartial", Model)