@model IEnumerable<Northwind.Application.Models.Employee.EmployeeIndexModel>
@{
    string previousPage = ViewBag.PreviousPage;
}

<h1>Employees</h1>

@await Html.PartialAsync("_IndexButtonsPartial")
@await Html.PartialAsync("_TableFormPartial", Model)

@if (previousPage != null)
{
    <button class="btn btn-primary fw-bold" onclick="location.href = '@previousPage'">Back</button>
}

<script src="~/js/checkboxes.js" />