@{
    ViewData["ControllerName"] = "Customers";
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
}

<h1>Create new Customer</h1>
<hr />

@await Html.PartialAsync("_CreateFormPartial", new Northwind.Application.Models.Customer.CustomerCreateModel())