@model Northwind.Application.Models.Customer.CustomerDetailsModel

@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "Customers";
}

<h1>Details Customer</h1>
<hr />

@await Html.PartialAsync("_DetailsPartial", Model, ViewData)