@using Northwind.Application.Constants
@addTagHelper *, Northwind.Application
@model Northwind.Application.Models.Customer.CustomerIndexModel
@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "Customers";
    ViewData["ActionName"] = "Delete";
}

<h1>Customers</h1>

@if (User.IsInRole(UserRoles.Admin))
{
    @await Html.PartialAsync("_IndexButtonsPartial")
}

@if (Model.Customers.Any())
{
    @await Html.PartialAsync("_TableFormPartial", Model.Customers, ViewData)
    <page-link page-model="Model.PageViewModel" page-action="Index" class="float-end"></page-link>
}
else
{
    <h1>List is empty</h1>
    @if (ViewData["PreviousPage"] != null)
    {
        <button class="btn btn-primary fw-bold" onclick="location.href = '@ViewData["PreviousPage"]'">Back</button>
    }
}