@addTagHelper *, Northwind.Application
@model Northwind.Application.Models.Order.OrderIndexModel
@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "Orders";
    ViewData["ActionName"] = "Delete";
    ViewData["Id"] = ViewBag.Id;
}

<h1>@(ViewBag.CompanyName) order list</h1>

@await Html.PartialAsync("_IndexButtonsPartial", ViewData)

@if (Model.Orders.Any())
{
    @await Html.PartialAsync("_TableFormPartial", Model.Orders, ViewData)
    <page-link page-model="Model.PageViewModel" page-action="Index" class="float-end"></page-link>
}
else
{
    <h1>List is empty</h1>
    @if (ViewData["PreviousPage"] != null)
    {
        <button class="btn btn-primary fw-bold" onclick="location.href = '@ViewData["PreviousPage"]'">Back</button>
    }
}