@using Northwind.Application.Constants
@addTagHelper *, Northwind.Application
@model Northwind.Application.Models.Order.OrderIndexModel
@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "Orders";
    ViewData["ActionName"] = "Delete";
    ViewData["CustomerId"] = ViewBag.CustomerId;
    ViewData["ForeignKeyValue"] = ViewBag.CustomerId;
    ViewData["ForeignKeyName"] = "customerId";
    ViewData["SelectListName"] = "CustomerList";
}

<h1>@(ViewBag.CompanyName != "" ? $"\"{ViewBag.CompanyName}\"" : string.Empty) Order List</h1>

@if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Owner))
{
    @await Html.PartialAsync("_IndexButtonsPartial", Model.CustomerList, ViewData)
}

@if (Model.Orders.Any())
{
    @await Html.PartialAsync("_TableFormPartial", Model.Orders, ViewData)

    if (ViewData["CustomerId"] != null && (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Owner)))
    {
        <button class="btn btn-primary fw-bold" onclick="location.href = '@Url.ActionLink("Details", "Customers", new { id = ViewData["CustomerId"] })'">
            To Customer
        </button>
    }
    
    <page-link page-model="Model.PageViewModel" page-action="Index" class="float-end"></page-link>
}
else
{
    <h1>List is empty</h1>
    @if (ViewData["PreviousPage"] != null)
    {
        <button class="btn btn-primary fw-bold" onclick="location.href = '@ViewData["PreviousPage"]'">Back</button>
    }
}
