@using Northwind.Application.Constants
@functions {
    string? ControllerName => ViewData["ControllerName"] == null ? this.Context.Request.Path.ToString().TrimStart('/') : ViewData["ControllerName"]!.ToString();
    object? Id => ViewData["id"];

    string? Link =>
        ControllerName switch
        {
            "Products" => Url.ActionLink("Create", ControllerName, new { categoryId = Id }),
            "Orders" => Url.ActionLink("Create", ControllerName, new { customerId = Id }),
            _ => Url.ActionLink("Create", ControllerName)
        };
}

@if (User.IsInRole(UserRoles.Admin))
{
   <button class="btn btn-primary fw-bold" onclick="location.href = '@Link'" id="createButton">
        Create
    </button>
}

<button form="form" class="btn btn-danger fw-bold" type="submit" id="deleteButton" hidden>
    Delete
</button>
