@functions {
    string ControllerName => ViewData["ControllerName"].ToString() ?? this.Context.Request.Path.ToString().TrimStart('/');
    string Disabled => User.IsInRole("admin") ? "" : "disabled";
}

<button class="btn btn-primary" onclick="location.href = '@Url.ActionLink("Create", ControllerName)'" @Disabled>
    Create
</button>

<button form="form" class="btn btn-danger float-end" type="submit" id="deleteButton" hidden>
    Delete
</button>
