@functions {
    string? ControllerName => ViewData["ControllerName"] == null ? this.Context.Request.Path.ToString().TrimStart('/') : ViewData["ControllerName"]!.ToString();
    string Disabled => User.IsInRole("admin") ? "" : "disabled";
    object? Id => ViewData["id"];

    string? CreateLink =>
        ControllerName switch
        {
            "Products" => Url.ActionLink("Create", ControllerName, new { categoryId = Id }),
            "Orders" => Url.ActionLink("Create", ControllerName, new { customerId = Id }),
            _ => Url.ActionLink("Create", ControllerName)
        };
}

<button class="btn btn-primary fw-bold" onclick="location.href = '@CreateLink'" @Disabled>
    Create
</button>

<button form="form" class="btn btn-danger float-end fw-bold" type="submit" id="deleteButton" hidden>
    Delete
</button>
