@using Northwind.Application.Constants

<ul class="navbar-nav align-content-center">
    @if (User.IsInRole(UserRoles.Owner))
    {
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="UserList">Users</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
        </li>
    }
</ul>
