@model Northwind.Application.Models.Employee.EmployeeCreateModel
@{
    ViewData["ControllerName"] = "Employees";
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
}

<h1>Create Employee</h4>
<hr />

@await Html.PartialAsync("_CreateFormPartial", Model)