@model Northwind.Application.Models.Employee.EmployeeDetailsModel

@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "Employees";
}

<h1>Employee Details</h1>

@await Html.PartialAsync("_DetailsPartial", Model, ViewData)