@model Northwind.Application.Models.OrderDetail.OrderDetailDetailsModel

@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "OrderDetail";
}

<h1>Details</h1>
<h4>OrderDetail</h4>

@await Html.PartialAsync("_DetailsPartial", Model, ViewData)