@model Northwind.Application.Models.Product.ProductEditModel
@{
    ViewData["ControllerName"] = "Products";
}

<h1>Edit Product "@Model.ProductName"</h1>
<hr />

@await Html.PartialAsync("_EditFormPartial", Model)