@model Northwind.Application.Models.Product.ProductCreateModel
@{
    ViewData["ControllerName"] = "Product";
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
}

<h1>Create</h1>

<h4>Product</h4>
<hr />

@await Html.PartialAsync("_CreateFormPartial", Model)