@model IEnumerable<Northwind.Application.Models.Product.ProductIndexModel>
@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "Product";
    ViewData["ActionName"] = "DeleteConfirmed";
    ViewData["FormMethod"] = "post";
    ViewData["Hidden"] = "hidden";

    var count = Model.Count();
}

<h1>Delete</h1>
<h3>Are you sure you want to delete @(count > 1 ? "these" : "this")</h3>
<h4>@(count > 1 ? "Products" : "Product")?</h4>
<hr />

@await Html.PartialAsync("_TableFormPartial")
<button form="form" class="btn btn-danger float-end" type="submit">Delete</button>
