@model Northwind.Data.Entities.Product

@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "Product";
}

<h1>Details</h1>
<h4>Product</h4>

@await Html.PartialAsync("_DetailsPartial", Model, ViewData)