@model Northwind.Application.Models.Product.ProductDetailsModel

@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "Product";
    ViewData["Id"] = ViewBag.Id;
}

<h1>Product Details</h1>

@await Html.PartialAsync("_DetailsPartial", Model, ViewData)