@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Roles list</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<button class="btn btn-primary" onclick="location.href = '@Url.ActionLink("Create", "Roles")'">Add role</button>
@* <button class="btn btn-primary" onclick="location.href = '@Url.ActionLink("Index", "Roles")'">Roles list</button>
<a asp-action="Create">Add role</a>
<a asp-action="UserList">Roles list</a> *@