@model IEnumerable<Northwind.Application.Models.Roles.UserIndexModel>

<h2>User List</h2>
<table class="table table-striped" style="width:100%;max-width:600px;">
    <colgroup>
        <col span="1" style="width:70%;">
        <col span="1" style="width:30%;">
    </colgroup>

    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Roles
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr style="cursor:pointer;" onclick="location.href='@Url.ActionLink("Edit", "Roles", new { userId = user.Id })'">
                <td>@user.UserName</td>
                <td>
                    <ul>
                        @foreach (var roleName in user.RoleNames ?? Enumerable.Empty<string>())
                        {
                            <li>
                                @roleName
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    td{
        align-content: center;
        padding: 10px;
    }

    th{
        align-content:center;
        padding:3px;
    }

    ul {
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
    }
</style>