@model Northwind.Application.Models.Category.CategoryCreateModel
@{
    ViewData["ControllerName"] = "Category";
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
}

<h1>Create</h1>

<h4>Category</h4>
<hr />

@await Html.PartialAsync("_CreateFormPartial", Model)