@model Northwind.Application.Models.Seller.SellerDetailsModel

@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "Sellers";
}

<h1>Seller Details</h1>

@await Html.PartialAsync("_DetailsPartial", Model, ViewData)