@using Northwind.Application.Constants
@model IEnumerable<Northwind.Application.Models.Seller.SellerIndexModel>
@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "Sellers";
    ViewData["ActionName"] = "Delete";
    ViewData["PageStartNumbering"] = ViewBag.PageStartNumbering;
}

<h1>Sellers</h1>

@if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Owner) || User.IsInRole(UserRoles.Seller))
{
    @await Html.PartialAsync("_IndexButtonsPartial", null as SelectList)
}

@await Html.PartialAsync("_TableFormPartial", Model, ViewData)
