@model IEnumerable<Northwind.Application.Models.OrderDetail.OrderDetailIndexDataModel>
@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "OrderDetails";
    ViewData["ActionName"] = "DeleteConfirmed";
    ViewData["FormMethod"] = "post";
    ViewData["Hidden"] = "hidden";

    var count = Model.Count();
}

<h1>Are you sure you want to delete @(count > 1 ? "these" : "this") @(count > 1 ? "OrderDetails" : "OrderDetail")?</h1>
<hr />

@await Html.PartialAsync("_TableFormPartial")
<button form="form" class="btn btn-danger float-end" type="submit">Delete</button>