@model Northwind.Application.Models.OrderDetail.OrderDetailDetailsModel

@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "OrderDetails";
}

<h1>Order Details</h1>

@await Html.PartialAsync("_DetailsPartial", Model, ViewData)